body{
    color: rgb(230 230 230);
    background: rgb(19,0,125);
    background: linear-gradient(90deg, rgba(19,0,125,1) 0%, 
    rgba(112,23,182,1) 24%, 
    rgba(109,48,213,1) 40%, 
    rgba(95,37,139,1) 66%, 
    rgba(244,170,241,1) 100%);
    margin: 0px;
    margin-bottom: 100px;
    font-family:"Lexend", sans-serif;
    margin-bottom: 100px;
}

header{
    padding: 20px;
    font-size: 50;
    color: white;
}

.chamada{
    background: rgb(19,0,125);
    background: linear-gradient(90deg, rgba(19,0,125,1) 0%, 
    rgba(112,23,182,1) 24%, 
    rgba(109,48,213,1) 40%, 
    rgba(95,37,139,1) 66%, 
    rgba(244,170,241,1) 100%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 300px
}

.categoria-videos { 
    display:flex;
overflow-x:auto;
gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity:0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 2px solid white;
}

.categoria h2{
    color: rgb(255, 255, 255)
}