body{
    color: rgb(230 230 230);
    background: rgb(170, 100, 255);
    margin: 0px;
    margin-bottom: 100px;
    font-family:"Lexend", sans-serif;
}

header{
    padding: 20px;
    font-size: 50;
    color: rgb(50, 22, 122)
}

.chamada-principal{
    background:rgb(170, 100, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 300px
}

.categoria-videos { 
    display:flex;
overflow-x:auto;
gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity:0.5;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 2px solid white;
}

.categoria h2{
    color: rgb(50, 22, 122)
}